{% extends "main/base.html" %}

{% block main %}

<!-- Hero Section -->
<section class="hero bg-gray-50 py-16 text-center mt-16">
    <div class="container mx-auto px-4">
        <h1 class="font-bold text-3xl sm:text-4xl text-teal-800 mb-4">Gérez vos Contacts en toute Simplicité</h1>
        <p class="text-lg sm:text-xl text-gray-700 mb-8">Importez, mettez à jour et sécurisez vos contacts avec ContactManager. Le changement de numéro n'a jamais été aussi facile!</p>

        <!-- Card Section -->
        <div class="mt-8 mx-auto max-w-lg">
            <div class="card bg-white shadow-lg rounded-lg border-2 border-teal-300">
                <div class="card-header text-center p-4 border-b border-teal-300">
                    <h2 class="text-2xl font-semibold text-teal-600">Importer et Mettre à Jour vos Contacts</h2>
                </div>
                <div class="card-body p-6">
                    <p class="text-lg text-gray-600 mb-4">Avec ContactManger, changez facilement vos anciens numéros en un clic, sans perdre aucune donnée.</p>
                    <p class="text-lg text-gray-600 mb-4">Notre plateforme vous aide à convertir vos numéros Béninois au format moderne et international.</p>

                    <form method="post" enctype="multipart/form-data" id="contactForm">
                        {% csrf_token %}
                        {{ form.as_p }}
                        <button type="submit" class="btn btn-teal w-full mt-3 p-3 bg-teal-600 text-white rounded-lg hover:bg-teal-700 transition duration-300">Convertir mes contacts</button>
                    </form>
                </div>
                <div class="card-footer p-4 border-t border-teal-300">
                    <a href="https://asitech-company.github.io/FastSync/" target="https://asitech-company.github.io/FastSync/" class="w-full inline-block text-center py-3 px-6 bg-red-600 text-white rounded-lg hover:bg-red-700 transition duration-300 mt-3">
                        <i class="fab fa-google mr-2"></i> Se connecter avec Google
                    </a>
                </div>
            </div>
        </div>
    </div>
</section>

<!-- Section d'Importation et d'Exportation de Contacts -->
<section id="import-export" class="container mx-auto my-8 p-6 bg-gray-100 rounded-xl">
    <div class="text-center mb-8">
        <h2 class="text-3xl font-semibold text-teal-600">Importez et Exportez vos Contacts en vCard</h2>
        <p class="text-lg text-gray-600">Suivez ces étapes simples pour importer ou exporter vos contacts au format vCard (.vcf).</p>
    </div>
    
    <!-- Etapes d'importation -->
    <div class="max-w-3xl mx-auto bg-white shadow-lg rounded-xl p-6 mb-8">
        <h4 class="text-2xl font-semibold text-teal-600 mb-4">Guide d'Importation</h4>
        <ol class="list-decimal pl-6 space-y-4 text-gray-700">
            <li><i class="fas fa-check-circle text-green-500"></i> Ouvrez votre application Contacts.</li>
            <li><i class="fas fa-check-circle text-green-500"></i> Accédez à l'option "Importer" ou "Ajouter un contact".</li>
            <li><i class="fas fa-check-circle text-green-500"></i> Sélectionnez l'option "Importer depuis vCard".</li>
            <li><i class="fas fa-check-circle text-green-500"></i> Choisissez votre fichier vCard (.vcf) depuis votre appareil.</li>
            <li><i class="fas fa-check-circle text-green-500"></i> Confirmez l'importation et vérifiez vos contacts.</li>
        </ol>
    </div>

    <!-- Etapes d'exportation -->
    <div class="max-w-3xl mx-auto bg-white shadow-lg rounded-xl p-6">
        <h4 class="text-2xl font-semibold text-teal-600 mb-4">Guide d'Exportation</h4>
        <ol class="list-decimal pl-6 space-y-4 text-gray-700">
            <li><i class="fas fa-check-circle text-green-500"></i> Ouvrez votre application Contacts.</li>
            <li><i class="fas fa-check-circle text-green-500"></i> Sélectionnez le contact à exporter ou choisissez "Exporter tous les contacts".</li>
            <li><i class="fas fa-check-circle text-green-500"></i> Choisissez l'option "Exporter vers vCard".</li>
            <li><i class="fas fa-check-circle text-green-500"></i> Enregistrez le fichier .vcf sur votre appareil ou partagez-le via email.</li>
            <li><i class="fas fa-check-circle text-green-500"></i> Vérifiez que le fichier vCard a bien été créé.</li>
        </ol>
    </div>
</section>

<!-- Personnalisation CSS -->
<style>
    #import-export {
        background-color: #f8f9fa;
        padding: 40px 0;
    }
    .card {
        border-radius: 10px;
    }
    .lead {
        font-size: 1.2rem;
    }
    .list-unstyled li {
        margin: 10px 0;
        font-size: 1rem;
    }
</style>


<!-- Features Section -->
<section id="features" class="container mx-auto my-16 px-6 m-2">
    <h2 class="text-3xl font-bold text-gray-800 text-center mb-10">Fonctionnalités principales</h2>
    <div class="grid grid-cols-1 md:grid-cols-2 lg:grid-cols-4 gap-8">
        <!-- Feature 1 -->
        <div class="bg-white border-2 border-teal-600 shadow-md rounded-xl p-6 text-center">
            <i class="fas fa-phone-alt fa-3x text-teal-600 mb-4"></i>
            <h3 class="text-xl font-bold text-teal-600 mb-4">Mise à jour des numéros</h3>
            <p>Convertissez vos anciens numéros au nouveau format en un clic.</p>
        </div>
        <!-- Feature 2 -->
        <div class="bg-white border-2 border-teal-600 shadow-md rounded-xl p-6 text-center">
            <i class="fas fa-database fa-3x text-teal-600 mb-4"></i>
            <h3 class="text-xl font-bold text-teal-600 mb-4">Aucune perte de données</h3>
            <p>Mettez à jour vos contacts sans perdre aucune information importante.</p>
        </div>
        <!-- Feature 3 -->
        <div class="bg-white border-2 border-teal-600 shadow-md rounded-xl p-6 text-center">
            <i class="fas fa-user-shield fa-3x text-teal-600 mb-4"></i>
            <h3 class="text-xl font-bold text-teal-600 mb-4">Protection des données</h3>
            <p>Vos données sont stockées en toute sécurité.</p>
        </div>
        <!-- Feature 4 -->
        <div class="bg-white border-2 border-teal-600 shadow-md rounded-xl p-6 text-center">
            <i class="fas fa-flag fa-3x text-teal-600 mb-4"></i>
            <h3 class="text-xl font-bold text-teal-600 mb-4">Format Contact Bénin</h3>
            <p>Utilisez le format standard des contacts au Bénin pour une compatibilité locale optimale.</p>
        </div>
    </div>

    <!-- Data Saving Warning -->
    <div class="alert alert-warning p-4 text-center bg-yellow-300 text-black mt-6" role="alert">
        <i class="fas fa-exclamation-triangle fa-2x text-red-600 mb-0"></i>
        <strong>Attention!</strong> Les données saisies ne sont pas sauvegardées sur ce site.
    </div>
</section>


    <!-- Support Section -->
    <section id="support" class="bg-gray-100 py-16 text-center">
        <h2 class="text-3xl font-bold text-gray-800 mb-6">Besoin d'aide ?</h2>
        <p class="text-gray-600 mb-6">Notre équipe est là pour vous assister.</p>
        <a href="tel:+2290190776888" class="bg-teal-600 text-white px-6 py-3 rounded-md">Contactez-nous</a>
    </section>


<!-- Custom JavaScript -->
<script>
    document.getElementById('contactForm').addEventListener('submit', function (e) {
        const fileInput = document.querySelector('[type="file"]');
        if (!fileInput.value) {
            e.preventDefault();
            alert('Veuillez sélectionner un fichier CSV avant de soumettre.');
        }
    });
</script>
{% endblock %}
